:aws:
  # only region is required when using iam which is recommended
  :access_key_id: '******'
  :secret_access_key: '******'
  :region: 'eu-west-1'
:sqs:
  :queue: 'https://sqs.eu-west-1.amazonaws.com/505986258632/instances_terminaded'
:sensu:
  :url: 'http://localhost:4567'
:log:
  :file: '/tmp/aws_cleaner.log'
